version: '3.8'

services:
  backend:
    build: ./backend
    container_name: hr_dashboard_backend
    ports:
      - "8000:8000"  
    volumes:
      - ./backend:/app 

  frontend:
    build: ./frontend
    container_name: hr_dashboard_frontend
    ports:
      - "3000:80"    
    depends_on:
      - backend      # Waits for backend to start

