version: '3.8'

services:
  backend:
    build: ./backend
    container_name: hr_dashboard_backend
    ports:
      - "8001:8001"  
    volumes:
      - ./backend:/app 

  frontend:
    build: ./frontend
    container_name: hr_dashboard_frontend
    ports:
      - "5001:80"    
    depends_on:
      - backend      # Waits for backend to start

